.warning{
    font-family:monospace;
    font-size:15px;
    background-color:rgb(0, 0, 0);
    color:white;
    width:200px;
    border:1px solid rgb(255, 145, 0);
    margin-top:5px;
    margin-bottom:5px;
}





.warning-header{
    font-size:60px;
}
h1{
    position:fixed;
    z-index:1;
    left:470px;
    top:-20px;
}
#content{
    position:absolute;
    top:20px;
}
#bottom{
    margin:15px;
}
.no-underline{
    color:black;
}

.a{
    font-size:80px


}